<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  
  <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    
    <form action="index.php" method="post" class="w-75" enctype="multipart/form-data">
    <h2 class="mb-4">Actualitzar Dades</h2>
    <input type="hidden" name="r" value="adduser">

 <div class="form-group row">
    <label for="newname1" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-10">
        <input name="nom" type="text" class="form-control" id="newname1"  required>
    </div>
</div>
<div class="form-group row">
    <label for="newlastname" class="col-sm-2 col-form-label">Cognom</label>
    <div class="col-sm-10">
        <input name="cognom" type="text" class="form-control" id="newlastname"  required>
    </div>
</div>
<div class="form-group row">
    <label for="borndate" class="col-sm-2 col-form-label">Data Naixament</label>
    <div class="col-sm-10">
        <input name="borndate" type="date" class="form-control" id="borndate" required>
    </div>
</div>
<div class="form-group row">
    <label for="adress" class="col-sm-2 col-form-label">Adreça</label>
    <div class="col-sm-10">
        <input name="adress" aria-label="Adreca" type="adress" class="form-control" id="adress" required>
    </div>
</div>
<div class="form-group row">
    <label for="resguard" class="col-sm-2 col-form-label">Resguard</label>
    <div class="col-sm-10">
        <input name="resguard" type="file" class="form-control" id="resguard" required>    </div>
</div>

<div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">Actualitzar Dades</button>
        <a href="index.php?r=" class="btn btn-danger">Salir</a>

    </div>
</div>        
</form>
</div>